{% extends 'base.html.twig' %}

{% block title %}Hello RpController!{% endblock %}

{% block body %}
<div class="container col-5">
 {{form_start(formProf)}}

    {{form_end(formProf)}}
    </div>
{% endblock %}
